<style>
    .row {
        padding: 5px;
        margin-top: 10px;
    }

    .canvas .property-area-container div.command-bar-side-panel {
        padding-bottom: 40px;
    }

    .canvas .property-area-container > div.content .side-panel-property-area-body {
        overflow: visible;
        flex: none;
    }

    /* .uigrid-edit .ui-grid-viewport {
          overflow: auto !important;
      }
    */
    /** mask **/
    .flyover .mask {
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: black;
        z-index: 1049;
    }

    .flyover .alert {
        left: 50%;
        top: 50%;
        position: fixed;
        z-index: 1050;
    }

    .property-grid-input-group > textarea {
        width: 101%;
        height: 120px;
    }

    .boxUploadTitle .uploadTitle {
        margin-left: 10px;
        font-size: 16px;
    }

    .boxUploadTitle .num {
        font-size: 12px;
        margin-left: 10px;
    }

    .boxUploadTitle a {
        margin-left: 10px;
        height: 30px;
        line-height: 30px;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        display: inline-block;
    }

        .boxUploadTitle a input {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

    .validator-control[disabled] {
        color: #666666;
    }
</style>

<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form"
                       sit-layout="Horizontal"
                       sit-type="Fixed"
                       sit-mode="edit"
                       sit-columns="4">

        <sit-property sit-widget="sit-select" sit-value="vm.typeTestDepartment.value" sit-validation="{required: true}"
                      sit-options="vm.typeTestDepartment.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                      sit-read-only="false" sit-change="vm.testDepartmentChange">{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_3'|translate}}</sit-property>
        <sit-property sit-widget="sit-select" sit-value="vm.typeTestResult.value" sit-validation="{required: true}"
                      sit-options="vm.typeTestResult.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                      sit-read-only="false">{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_4'|translate}}</sit-property>
        <sit-property sit-widget="sit-select" sit-value="vm.typeIsFrozen.value" sit-validation="{required: true}"
                      sit-options="vm.typeIsFrozen.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                      sit-read-only="false">{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_5'|translate}}</sit-property>
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.Remark" sit-validation="{required: false}"
                      sit-read-only="false">{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_6'|translate}}</sit-property>
        <div class="row" style="margin-top: 10px;">
            <div style="margin-left: 3px">
            </div>
            <div class="col-md-39" style="margin-top: 1px">
                <div class="boxUploadTitle">
                    <span class="uploadTitle">{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_7'|translate}}</span>
                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" .jpg,.png,.jpeg,.bmp,.gif,.doc,.docx,.xls,.xlsx,.ppt,.pptx,-->
                    <a href="javascript:void(0);" class="btn btn-primary">
                        <i class="ace-icon fa fa-plus"></i>
                        <input type="file" accept=".jpg,.png" nv-file-select="" uploader="uploader" multiple />{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_8'|translate}}
                    </a>
                    <span class="num">{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_9'|translate}}: {{ uploader.queue.length }}</span>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th>{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_10'|translate}}</th> -->
                            <th>{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_11'|translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_12'|translate}}</th>
                            <th ng-show="uploader.isHTML5" nowrap>{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_13'|translate}}</th>
                            <th nowrap>{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_14'|translate}}</th>
                            <th>{{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_15'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <!-- <td> -->
                            <!-- Image preview -->
                            <!--auto height-->
                            <!--<div ng-thumb="{ file: item.file, width: 80 }"></div>-->
                            <!--auto width-->
                            <!-- <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 60 }"></div> -->
                            <!--fixed width and height -->
                            <!--<div ng-thumb="{ file: item.file, width: 80, height: 80 }"></div>-->
                            <!-- </td> -->
                            <td>
                                <strong>{{ item._file.name }}</strong>
                            </td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar"
                                         ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                        ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> {{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_16'|translate}}
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()"
                                        ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> {{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_1'|translate}}
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> {{'Siemens.SimaticIT.QualityApp.QC_MaterialInventoryCheckList.QC_MaterialInventoryCheckListedit.Tips_17'|translate}}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </sit-property-grid>
</div>
<div id="itemlist2" style="width:calc(100% - 2px); height: 32%;margin-top: 6px; padding:5px 16px 0 0px;clear: both; display: block;overflow: auto;">
    <div ui-grid="vm.gridOptionsItem2" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize class="uigrid uigrid-edit gridItem"></div>
</div>
