<style>
    .row {
        padding: 5px;
        margin-top: 10px;
    }

    .canvas .property-area-container > div.content .side-panel-property-area-body {
        overflow: visible;
    }
    /* .uigrid-edit .ui-grid-viewport {
          overflow: auto !important;
      }
    */
</style>
<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.PlanApp.WorkOrderDismantle.add.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button">{{'Siemens.SimaticIT.PlanApp.WorkOrderDismantle.add.Tips_2'|translate}}</button>
    <button ng-click="vm.edit()" class="btn side-panel-button">{{'Siemens.SimaticIT.PlanApp.WorkOrderDismantle.add.Tips_3'|translate}}</button>
</div>
<div class="side-panel-property-area-body" style="height: calc(16% - 15px) !important;">
    <sit-property-grid sit-id="add_form"
                       sit-layout="Horizontal"
                       sit-type="Fixed"
                       sit-mode="edit"
                       sit-columns="4">
        <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.ActNum" sit-validation="{required: true,min:0}"
                      sit-read-only="false">{{'Siemens.SimaticIT.PlanApp.WorkOrderDismantle.add.Tips_4'|translate}}</sit-property>
        <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.DeductionNum" sit-validation="{required: false,min:0}"
                      sit-read-only="false">{{'Siemens.SimaticIT.PlanApp.WorkOrderDismantle.add.Tips_5'|translate}}</sit-property>

        <sit-property sit-widget="sit-select" sit-value="vm.Process.value" sit-validation="{required: false}"
                      sit-options="vm.Process.options" sit-to-display="'ResourceName'" sit-to-keep="'ResourceCode'"
                      sit-read-only="false">{{'Siemens.SimaticIT.PlanApp.WorkOrderDismantle.add.Tips_6'|translate}}</sit-property>
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.Remark" sit-validation="{required: false}"
                      sit-read-only="false">{{'Siemens.SimaticIT.PlanApp.WorkOrderDismantle.add.Tips_7'|translate}}</sit-property>
    </sit-property-grid>
</div>
<div style="clear: both;"></div>
<div id="itemlist1" style="width:calc(100% - 2px); height: 39%;margin-top: 6px; padding:5px 16px 0 16px;clear: both; display: block;overflow: auto;">
    <div ui-grid="vm.gridOptionsItem1" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize class="uigrid  gridItem"></div>
</div>
<div id="itemlist2" style="width:calc(100% - 2px); height: 39%;margin-top: 6px; padding:5px 16px 0 16px;clear: both; display: block;overflow: auto;">
    <div ui-grid="vm.gridOptionsItem2" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize class="uigrid  uigrid-edit gridItem1"></div>
</div>
