
<DSL Version="1.13">
    <Project>
        <Name>ButtonAuthFBApp.BAPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>Siemens.SimaticIT</Prefix>
        <Domain>ButtonAuthFBApp</Domain>
        <DomainAcronym>BA</DomainAcronym>
        <Guid>80bf7920-0cd8-4354-a35b-2c901e22ad11</Guid>
		<ProjectKind>Pom</ProjectKind>
    </Project>
    <References>
		<Project>
			<Name>ButtonAuthFBLib.MSModel</Name>
			<Version>01.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>3c7b3a8f-4cfc-4740-9d2e-d08274eb1e71</Guid>
		</Project>
    </References>
</DSL>