
<DSL Version="1.13">
    <Project>
        <Name>BasicDataManageFBApp.BAPOMModel</Name>
        <Version>04.00.00</Version>
        <Prefix>Siemens.SimaticIT</Prefix>
        <Domain>BasicDataManageFBApp</Domain>
        <DomainAcronym>BA</DomainAcronym>
        <Guid>abea264c-9a85-4946-97ec-7b72385bcb46</Guid>
		<ProjectKind>Pom</ProjectKind>
    </Project>
    <References>
		<Project>
			<Name>ButtonAuthFBLib.MSModel</Name>
			<Version>01.00.00</Version>
			<Prefix>ButtonAuthFBLib</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>567877cb-b7e1-4982-9562-1e6c3a0c1ea5</Guid>
		</Project>
		<Project>
			<Name>BasicDataManageFBLib.MSModel</Name>
			<Version>01.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>f61397bf-4db1-4767-accf-c29a4bf0ddd7</Guid>
		</Project>
		<Project>
			<Name>ThirdPartyDBFBLib.UMModel</Name>
			<Version>01.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>UAMES</Domain>
			<DomainAcronym>UM</DomainAcronym>
			<Guid>9db5c733-1718-4f5b-ac79-b4c34474db0f</Guid>
		</Project>
    </References>
</DSL>