<!--
    0.代码生成: UA主子表一键生成前后端html、JS、API接口代码生成器 Ver 1.11 更新日期：2021-07-14  设计者：刘万军
    1.功能描述: 供应商管理
    2.创建人员: liyongguo
    3.创建日期: 2021-07-24
    4.修改人员:
    5.修改日期:
-->
<style>
    .MainCommandActionButton {
        margin-top: 20px !important;
    }

    .green {
        color: rgb(38, 228, 31)
    }

    .red {
        color: red
    }
</style>
<div id="itemlist" class="content-area content-area-relative" style="height: calc(93% - 30px) !important">
    <!--查询条件与功能按钮-->
    <div class="col-md-40" style="margin-left: 15px;height: calc(22% - 10px)">
        <div class="side-panel-property-area-body">
            <sit-property-grid sit-id="add_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit"
                               sit-columns="8">
                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.SupplierCode" sit-read-only="false"
                              style="max-width:300px;">
                    {{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_1'|translate}}
                </sit-property>
                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.SupplierName" sit-read-only="false"
                              style="max-width:300px;">
                    {{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_2'|translate}}
                </sit-property>
                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.Category" sit-read-only="false"
                              style="max-width:300px;">
                    {{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_3'|translate}}
                </sit-property>
                <sit-property sit-widget="sit-select" sit-options="vm.IsEnabled.options" sit-to-display="'ItemName'"
                              sit-to-keep="'ItemValue'" sit-value="vm.IsEnabled.value" sit-read-only="false">
                    {{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_4'|translate}}
                </sit-property>
                <sit-property sit-widget="sit-datepicker" sit-value="vm.StartTime" sit-format="'yyyy-MM-dd'"
                              sit-read-only="false">
                    {{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_5'|translate}}
                </sit-property>
                <sit-property sit-widget="sit-datepicker" sit-value="vm.EndTime" sit-format="'yyyy-MM-dd'"
                              sit-read-only="false">
                    {{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_6'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-select" sit-value="vm.typeSupplierLevel.value"
                              sit-options="vm.typeSupplierLevel.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                              style="max-width:300px;">
                    {{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_14'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.ParentSupplier" sit-read-only="false"
                              style="max-width:300px;">
                    {{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_15'|translate}}
                </sit-property>

                <sit-command-bar sit-type="action">
                    <sit-command sit-icon="fa-search" sit-type="main" sit-name="com.siemens.customcommand.search"
                                 :sit-tooltip="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_7'|translate}}"
                                 ng-click="vm.searchButtonHandler"
                                 :sit-label="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_7'|translate}}">
                    </sit-command>
                </sit-command-bar>
            </sit-property-grid>
        </div>
    </div>
    <!--右侧功能按钮-->
    <sit-command-bar sit-vertical-autofixed="true" sit-type="Tool" :sit-label-align="right" sit-layout="vertical">

        <sit-command sit-icon="fa-trash-o" sit-name="com.siemens.customcommand.delete"
                     :sit-tooltip="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_8'|translate}}"
                     ng-click="vm.delete2ButtonHandler"
                     :sit-label="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_8'|translate}}"
                     ng-show="vm.isDetailButtonVisible" sit-type="main"></sit-command>
        <sit-command sit-icon="fa-pencil-square-o " sit-name="com.siemens.customcommand.edit"
                     :sit-tooltip="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_9'|translate}}"
                     ng-click="vm.edit2ButtonHandler"
                     :sit-label="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_9'|translate}}"
                     ng-show="vm.isDetailButtonVisible" sit-type="main"></sit-command>
        <sit-command sit-icon="fa-plus-square-o " sit-name="com.siemens.customcommand.add"
                     ng-click="vm.add2ButtonHandler"
                     :sit-tooltip="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_10'|translate}}"
                     :sit-label="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_10'|translate}}"
                     ng-show="vm.isButtonVisible" sit-type="main"></sit-command>


        <sit-command sit-icon="fa-trash" sit-name="com.siemens.customcommand.delete"
                     :sit-tooltip="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_11'|translate}}"
                     ng-click="vm.deleteButtonHandler"
                     :sit-label="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_11'|translate}}"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-pencil" sit-name="com.siemens.customcommand.edit"
                     :sit-tooltip="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_12'|translate}}"
                     ng-click="vm.editButtonHandler"
                     :sit-label="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_12'|translate}}"
                     ng-show="vm.isButtonVisible"></sit-command>
        <sit-command sit-icon="fa-plus" sit-name="com.siemens.customcommand.add" ng-click="vm.addButtonHandler"
                     :sit-tooltip="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_13'|translate}}"
                     :sit-label="{{'Siemens.SimaticIT.MaterialApp.SupplierManage.SupplierManagelist.Tips_13'|translate}}"
                     sit-type="main"></sit-command>
    </sit-command-bar>
    <!-- grid列表 -->
    <div id="listClass" style="width:100%; height: 44%; padding:0px 16px 0 16px; margin-top: 3px;">
        <div ui-grid="vm.gridOptions" ui-grid-pinning ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection
             ui-grid-pagination class="uigrid"></div>
    </div>
    <div id="listClass2" class="col-md-40" style="width:100%; height: 44%; padding:0px 16px 0 16px; margin-top: 3px;">
        <div ui-grid="vm.gridOptionsDetail" ui-grid-pinning ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection
             ui-grid-pagination class="uigrid"></div>
    </div>
</div>