<style>
    .header-filtered {
        color: blue;
    }

    .upload-btn {
        min-height: 32px;
        line-height: 30px;
        margin-left: 0;
    }

        .upload-btn input {
            display: none;
        }

    .fa-close {
        cursor: pointer;
        padding: 0 10px 10px 10px;
    }

    /*  外部容器样式*/
    .container {
        width: 300px;
        height: 30px;
        border: 1px solid lightgray;
        border-radius: 15px;
    }

    /* 内部加载部分样式 */
    #content {
        height: 30px;
        border-radius: 15px;
        background-color: skyblue;
        text-align: center;
        line-height: 30px;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">{{'customCommon.SelectModal.Tips_10'|translate}}</h3>
    <i class="fa fa-close" aria-hidden="true" ng-click="vm.closeClick()"></i>
</div>

<div class="modal-body" ui-i18n="{{vm.lang}}">
    <div class="col-xs-40 col-sm-40 col-md-40 col-lg-40" style="margin-bottom: 10px;padding: 0px;">
        <div class="row" style="margin-top:10px;float: right;margin-bottom: 8px;">
            <div class="container">
                <div id="content"></div>
            </div>
            <div class="col-xs-10">
                <a href="javascript:void(0);" class="btn btn-primary upload-btn" ng-click="vm.doUpload()">
                    <i class="ace-icon fa fa-plus"></i>
                    <input id="upload" type="file" accept="" nv-file-select="" uploader="uploader" multiple />{{'customCommon.SelectModal.Tips_11'|translate}}
                </a>
                <button ng-click="vm.deleteData()" class="btn btn-primary" ng-show="vm.selectedItem">
                    <i class="fa fa-remove"></i><span>&nbsp;{{'customCommon.SelectModal.Tips_12'|translate}}</span>
                </button>
            </div>
        </div>
    </div>
    <div style="display: block;clear: both;margin-top:10px;">
        <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize
             ui-grid-pinning></div>
    </div>
</div>

<div class="modal-footer" ng-if="false">
    <!-- <button class="btn btn-primary" type="button" ng-click="vm.save()">{{'customCommon.SelectModal.Tips_13'|translate}}</button> -->
    <button class="btn btn-default" type="button" ng-click="vm.save()">{{'customCommon.SelectModal.Tips_14'|translate}}</button>
</div>