<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form"
                       sit-layout="Horizontal"
                       sit-type="Fixed"
                       sit-mode="edit"
                       sit-columns="1">
        <!-- TODO: Put here the properties of the entity managed by the service -->
        <!-- <sit-property sit-widget="sit-text" sit-value="vm.currentItem.ParentId" sit-validation="{required: true}"
                      sit-read-only="false">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_3'|translate}}</sit-property> -->
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.ItemCode" sit-validation="{required: true}"
                      sit-read-only="false">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_4'|translate}}</sit-property>
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.ItemName" sit-validation="{required: true}"
                      sit-read-only="false">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_5'|translate}}</sit-property>
        <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.SortCode" sit-validation="{required: true, min: 0}">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_6'|translate}}</sit-property>
        <sit-property sit-widget="sit-checkbox"
                      sit-value="vm.IsRepetition"
                      sit-validation="{required: false}"
                      ng-show="true">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_7'|translate}}</sit-property>
        <sit-property sit-widget="sit-checkbox"
                      sit-value="vm.IsEnabledMark"
                      sit-validation="{required: false}"
                      ng-show="true">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_8'|translate}}</sit-property>
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.Remark" sit-validation="{required: false}"
                      sit-read-only="false">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_9'|translate}}</sit-property>
    </sit-property-grid>
    <div style="clear: both;display:block;"></div>
    <div class="row" style="width:100%;">
        <div class="col-xs-6">
            <div class="lbl_text">
                <span style="font-weight: bold;">{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_10'|translate}}</span>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="" style="width:100%; margin-top: 3px;">
                <div class='property-grid-input-group selectBox'>
                    <sit-text sit-value="vm.currentItem.ParentName" sit-read-only="true"></sit-text>
                    <span class="input-group-addon">
                        <a href="javascript:void(0);" ng-click="vm.openSelectOrganizeDialog()" ng-attr-title="{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_11'|translate}}">
                            <img src="common/icons/cmdListBox24.svg" heigth="18" width="18" alt="{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_12'|translate}}" />{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_13'|translate}}
                        </a>
                    </span>
                    <!-- <span class="btn property-grid-addon-icon" ng-click="vm.openSelectOrganizeDialog()" ng-attr-title="{{'Siemens.SimaticIT.BaseDataApp.KeyParameter.KeyParameteradd.Tips_14'|translate}}">
                        <i class="fa fa-list-alt"></i>
                    </span> -->
                    <sit-text sit-value="vm.currentItem.ParentId" ng-show="false"></sit-text>
                </div>
            </div>
        </div>
    </div>
</div>
