<style>
    .row {
        padding: 5px;
        margin-top: 10px;
    }
</style>
<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.FactoryModelApp.ModelResource.ModelResourceeditDetail.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.FactoryModelApp.ModelResource.ModelResourceeditDetail.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body" sit-id="view_form">
    <div id="myDivForm"></div> 
 
</div>
