
<DSL Version='1.13'>
    <Project>
        <Name>EquipmentApp.EPPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>Siemens.SimaticIT</Prefix>
        <Domain>EquipmentApp</Domain>
        <DomainAcronym>EP</DomainAcronym>
        <Guid>3dcb7ac7-ae03-478b-ab0b-12621808862d</Guid>
		<ProjectKind>Pom</ProjectKind>
    </Project>
    <References>
    </References>
</DSL>