
<DSL Version='1.13'>
    <Project>
        <Name>BaseDataApp.BDPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>Siemens.SimaticIT</Prefix>
        <Domain>BaseDataApp</Domain>
        <DomainAcronym>BD</DomainAcronym>
        <Guid>7631caa3-a20c-46f3-a7e0-3548de32d757</Guid>
		<ProjectKind>Pom</ProjectKind>
    </Project>
    <References>
    </References>
</DSL>