<!--
    0.代码生成: UA单表一键生成前后端html、JS、API接口代码生成器 Ver 2.13 更新日期：2021-07-12  设计者：刘万军
    1.功能描述: IQC品质检验记录表
    2.创建人员: 丁零
    3.创建日期: 2021-08-27
    4.修改人员:
    5.修改日期:
-->
<style>
    .row {
        padding: 5px;
        margin-top: 10px;
    }
</style>
<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.QualityApp.QC_IQCQualityCheckList.QC_IQCQualityCheckListeditaudit.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.QualityApp.QC_IQCQualityCheckList.QC_IQCQualityCheckListeditaudit.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form"
                       sit-layout="Vertical"
                       sit-type="Fluid"
                       sit-mode="edit"
                       sit-columns="1">
        <sit-property-grid sit-id="view_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit" sit-columns="2" style="margin-left: 4px;">
            <sit-property sit-widget="sit-select"
                          sit-read-only="false"
                          sit-options="vm.DeterminationConfig.options" style="max-width:300px;"
                          sit-to-keep="'ItemValue'" sit-validation="{required: false}"
                          sit-value="vm.DeterminationConfig.selectedOption"
                          sit-change="vm.selectProcess"
                          sit-to-display="'ItemName'">
                {{'Siemens.SimaticIT.QualityApp.QC_IQCQualityCheckList.QC_IQCQualityCheckListeditaudit.Tips_3'|translate}}
            </sit-property>
        </sit-property-grid>
        <div id="itemlist" style="width:calc(100% - 5px); height: calc(100% - 100px); margin-top:20px;margin-left:20px;padding-right:20px;overflow: auto;">
            <div ui-grid="vm.gridOptions" ui-grid-pagination ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-resize-columns
                 ui-grid-auto-resize class="uigrid uigrid-edit"></div>

        </div>
</div>