<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.SystemApp.PrintServer.PrintServeredit.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.SystemApp.PrintServer.PrintServeredit.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form"
                       sit-layout="Vertical"
                       sit-type="Fluid"
                       sit-mode="edit"
                       sit-columns="2">
        <!-- TODO: Put here the properties of the entity managed by the service -->
        <sit-property sit-widget="sit-text"
                      sit-value="vm.currentItem.PrintServer"
                      sit-validation="{required: true}"
                      sit-read-only="false">{{'Siemens.SimaticIT.SystemApp.PrintServer.PrintServeredit.Tips_3'|translate}}</sit-property>
        <sit-property sit-widget="sit-text"
                      sit-value="vm.currentItem.IP"
                      sit-validation="{required: true}"
                      sit-read-only="false">{{'Siemens.SimaticIT.SystemApp.PrintServer.PrintServeredit.Tips_4'|translate}}</sit-property>
        <sit-property sit-widget="sit-text"
                      sit-value="vm.currentItem.Note"
                      sit-validation="{required: false}"
                      sit-read-only="false">{{'Siemens.SimaticIT.SystemApp.PrintServer.PrintServeredit.Tips_5'|translate}}</sit-property>
    </sit-property-grid>
</div>
