<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="BaseDb" connectionString="Server=172.168.11.132;Initial Catalog=FHMESDB;User ID=sa;Password=messa@2021;Connect Timeout=45;" providerName="System.Data.SqlClient" />
  <add name="BaseMaster" connectionString="Server=172.168.11.132;Initial Catalog=master;User ID=sa;Password=messa@2021;Connect Timeout=45;integrated security=SSPI;" providerName="System.Data.SqlClient" />
  <!--<add name="BaseDb" connectionString="Server=192.168.91.208;Initial Catalog=SIT_UA_MES;User ID=sa;Password=jgdz@123;Connect Timeout=45;" providerName="System.Data.SqlClient" />-->
</connectionStrings>