<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()"
            class="btn side-panel-button">
        {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_1'|translate}}
    </button>
    <button ng-click="vm.save()" class="btn side-panel-button"
            ng-show="vm.validInputs">
        {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_2'|translate}}
    </button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="edit_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit" sit-columns="2">
        <!-- TODO: Put here the properties of the entity managed by the service -->
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.ReceiptCode" sit-validation="{required: true}"
                      sit-read-only="true">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_3'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.ProductOrder" sit-validation="{required: true}"
                      sit-read-only="true">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_4'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.MaterialCode" sit-validation="{required: true}"
                      sit-read-only="true">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_5'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.MaterialName" sit-validation="{required: true}"
                      sit-read-only="true">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_6'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.Unit" sit-validation="{required: true}"
                      sit-read-only="true">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_7'|translate}}
        </sit-property>

        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.SupplierName" sit-validation="{required: true}"
                      sit-read-only="true">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_8'|translate}}
        </sit-property>

        <!-- <sit-property sit-widget="sit-select" sit-value="vm.typeManufacturer.value" sit-validation="{required: false}"
                      sit-options="vm.typeManufacturer.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                      sit-read-only="false">{{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_9'|translate}}</sit-property> -->
        <!-- <sit-property sit-widget="sit-alp-text-picker" sit-value="vm.currentItem.ManufacturerName"
            sit-validation="{required: false}" sit-read-only="false" ng-click="vm.manufacturerModal()">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_9'|translate}}
        </sit-property> -->
        <sit-property sit-widget="sit-alp-text-picker" sit-value="vm.currentItem.SupplierName2"
                      sit-validation="{required: false}" sit-read-only="false" ng-click="vm.supplierClick('2')">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeadd.Tips_18'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-alp-text-picker" sit-value="vm.currentItem.SupplierName3"
                      sit-validation="{required: false}" sit-read-only="false" ng-click="vm.supplierClick('3')">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeadd.Tips_19'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-alp-text-picker" sit-value="vm.currentItem.SupplierName4"
                      sit-validation="{required: false}" sit-read-only="false" ng-click="vm.supplierClick('4')">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeadd.Tips_20'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-alp-text-picker" sit-value="vm.currentItem.SupplierName5"
                      sit-validation="{required: false}" sit-read-only="false" ng-click="vm.supplierClick('5')">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeadd.Tips_21'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-alp-text-picker" sit-value="vm.currentItem.SupplierName6"
                      sit-validation="{required: false}" sit-read-only="false" ng-click="vm.supplierClick('6')">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeadd.Tips_22'|translate}}
        </sit-property>


        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.ArrivalQty" sit-validation="{required: true}"
                      sit-read-only="false">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_10'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-datepicker" sit-value="vm.ArrivalTime" sit-validation="{required: true}"
                      sit-widget-attributes="{'sit-format':'yyyy-MM-dd','sit-show-meridian':'false'}" sit-read-only="false">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_11'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-text" sit-value="vm.currentItem.Remark" sit-validation="{required: true}"
                      sit-read-only="false">
            {{'Siemens.SimaticIT.MaterialApp.MMReceiptNotice.ReceiptNoticeedit.Tips_12'|translate}}
        </sit-property>

    </sit-property-grid>
</div>