<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- ================== 1：开发系统相关配置 ================== -->
	<!-- 登陆提供者模式：Session、Cookie-->
	<add key="LoginProvider" value="Session" />
	<!-- 允许重复登录 -->
	<add key="CheckOnLine" value="true" />
	<!-- 允许用户注册 -->
	<add key="AllowUserRegister" value="false" />
	<!-- 启用即时通讯 -->
	<add key="UseMessage" value="false" />
	<!-- 启用系统日志-->
	<add key="IsLog" value="true" />
	<!-- 数据库超时间-->
	<add key="CommandTimeout" value="180" />
	<!-- 服务器缓存类型:WebCache、Redis-->
	<add key="CacheType" value="WebCache" />
	<!-- ================== 2：这里主要是微信配置项内容部分 ================== -->
	<!--企业号CorpId -->
	<add key="CorpId" value="" />
	<!--企业号凭证密钥 -->
	<add key="CorpSecret" value="" />
	<!-- ================== 3：访问过滤配置 ================== -->
	<!--设置IP过滤 -->
	<add key="FilterIP" value="false" />
	<!--设置时段过滤 -->
	<add key="FilterTime" value="false" />
	<!-- ================== 4：系统软件参数配置 ================== -->
	<!-- 联系我们 -->
	<add key="Contact" value="www.baidu.cn" />
	<!-- 公司名称 -->
	<add key="CustomerCompanyName" value="青岛奥利普" />
	<!-- 系统名称 -->
	<add key="SystemName" value="WMS工作台" />
	<!-- 软件名称 -->
	<add key="SoftName" value="WMS工作台" />
	<!-- 软件版本 -->
	<add key="Version" value="6.1.2" />
	<!-- 软件注册码，备用 -->
	<add key="RegisterKey" value="" />
	<!-- ================== 5：外部邮件参数 ================== -->

	<!-- 系统错误自动发送邮件 -->
	<add key="ErrorToMail" value="false" />
	<!-- 发出邮箱的名称 -->
	<add key="MailName" value="邮件中心" />
	<!-- 发出邮箱的地址 -->
	<add key="MailUserName" value="" />
	<!-- 发出邮箱的密码 -->
	<add key="MailPassword" value="" />
	<!-- 发出邮箱设置邮箱主机 -->
	<add key="MailHost" value="smtp.exmail.qq.com" />
	<!-- 接收邮箱的地址 -->
	<add key="ReceiveErroMail" value="receivebug@alp.cn" />
	<!-- ================== 6：短信参数 ================== -->
	<!-- 短信账户 -->
	<add key="SMSAccount" value="jumuxx_lr" />
	<!-- 短信密码 -->
	<add key="SMSPswd" value="" />
	<!-- 短信接口地址 -->
	<add key="SMSUrl" value="http://localhost:80/msg/HttpBatchSendSM" />
	<!-- ================== 7：即时通信参数 ================== -->
	<!-- SignalR服务接口-->
	<add key="SignalRUrl" value="http://localhost:8888/signalr" />

	<!-- 换模计划调整最小刻度 秒-->
	<add key="AdjMouldScale" value="21600" />

	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="WatchSwitch" value="Off"/>
	<!-- ================== 7：App接口参数 ================== -->
	<!--预装分型-->
	<add key="Yzfx" value="CJ010"/>
	<!--性能类型-->
	<add key="DefectType" value="02"/>

	<!--总装检验默认点位 用于总装库存减掉 20191210-->
	<add key="AssemblePositionCode" value="CJ090"/>

	<!--成品抽检维护结果默认点位-->
	<add key="CheckAcqPositionCode" value="CJ250"/>

	<!--屏幕检验点位 静态OK同时打OK标识用 20191112-->
	<add key="ScreenInspectionCode" value="CJ190"/>

	<!--验关检验点位 设置不良进静态、动态抽检进静态选项显示20190926-->
	<add key="CheckInspectionCode" value="CJ200"/>

	<!--静态检验点位 处理不同返修区及大于静态点位索引时提示必进静态点位用20191014-->
	<add key="StaticPositionCode" value="CJ210"/>

	<!--终检检验点位 站长升等出提示用 20191113-->
	<add key="EndInspectionCode" value="CJ260"/>
	<!--APP更新下载路径-->
	<add key="AppDownLoadUrl" value="http://10.17.2.32/UpLoad/APPDownLoad/"/>
	<!-- ================== 8：Redis配置参数 ================== -->
	<add key="RedisExchangeHosts" value="10.17.2.10:6379" />

	<!--业务操作锁超时时间【单位：毫秒】-->
	<add key="LockTimeOutSec" value="1000"/>
	<!--APP安装文件资源存放地址-->
	<add key="APP_Setup_File_URL" value="http://119.166.247.84:3001/Resource/"/>
	<!-- ================== 9：文件上传参数 ================== -->
	<!-- 允许上传文件类型（扩展名），小写，用“|”隔开 -->
	<add key="AllowFileExtension" value=".jpg|.png|.gif|.bmp|.txt|.doc|.docx|.xls|.xlsx|.ppt|.pptx|.pdf|.zip|.rar|.7z" />
	<!-- 上传文件最大值，整数，单位为M -->
	<add key="MaxFileLength" value="100" />
	<!-- ==================图片存放地址 ================== -->
	<add key="ImgUrlPre" value="http://172.168.11.131/MWebAPI/UploadFile/Upload/" />
	<!-- ==================同步接口地址 ================== -->
	<add key="ProcessApiAddress" value="http://192.168.3.14:5001/" />
</appSettings>