<!--
    0.代码生成: UA主子表一键生成前后端html、JS、API接口代码生成器 Ver 1.11 更新日期：2021-07-14  设计者：刘万军
    1.功能描述: 生产工单
    2.创建人员: liyongguo
    3.{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_18'|translate}} 2021-07-31
    4.修改人员:
    5.修改日期:
-->
<style>
    .MainCommandActionButton {
        margin-top: 20px !important;
    }

    .green {
        color: rgb(38, 228, 31)
    }

    .red {
        color: red
    }

    .ui-grid-disable-selection {
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    /* #dropdownMenuAdvanced {
        max-width: 130px;
    } */
</style>
<div id="itemlist" class="content-area content-area-relative" style="height: calc(19% - 30px) !important;">
    <!--查询条件与功能按钮-->
    <div class="col-md-40" style="margin-left: 15px;">
        <div class="side-panel-property-area-body">
            <sit-property-grid sit-id="add_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit"
                               sit-columns="8">

                <sit-property sit-widget="sit-select" sit-value="vm.typeFactory.value"
                              sit-validation="{required: false}" sit-options="vm.typeFactory.options"
                              sit-to-display="'ResourceName'" sit-to-keep="'ResourceCode'" sit-read-only="false">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_1'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.ProductOrder" sit-read-only="false"
                              style="max-width:100px;">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_2'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.ContainerNO" sit-read-only="false"
                              style="max-width:100px;">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_3'|translate}}
                </sit-property>

                <!-- <sit-property sit-widget="sit-text" sit-value="vm.searchParams.CustomerPO" sit-read-only="false" style="max-width:100px;">{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_4'|translate}}</sit-property>
                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.MaterialCode" sit-read-only="false" style="max-width:100px;">{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_5'|translate}}</sit-property> -->
                <!-- <sit-property sit-widget="sit-text" sit-value="vm.searchParams.Spec" sit-read-only="false"
                              style="max-width:100px;">
                {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_6'|translate}}
                </sit-property>-->

                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.MMXH" sit-read-only="false"
                              style="max-width:100px;">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_7'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.Spec" sit-read-only="false"
                              style="max-width:100px;">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_8'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.MaterialCode" sit-read-only="false"
                              style="max-width:100px;">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_5'|translate}}
                </sit-property>

                <!-- <sit-property sit-widget="sit-text" sit-value="vm.searchParams.UV" sit-read-only="false" style="max-width:100px;">UV:</sit-property> -->
                <!-- <sit-property sit-widget="sit-text" sit-value="vm.searchParams.KCKX" sit-read-only="false"
                              style="max-width:100px;">{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_9'|translate}}</sit-property> -->
                <sit-property sit-widget="sit-numeric" sit-value="vm.searchParams.LowerLimit" sit-read-only="false"
                              style="max-width:100px;">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_10'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-datepicker" sit-value="vm.StartPrepay" sit-format="'yyyy-MM-dd'"
                              sit-read-only="false">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_11'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-datepicker" sit-value="vm.EndPrepay" sit-format="'yyyy-MM-dd'"
                              sit-read-only="false">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_12'|translate}}
                </sit-property>

                <!-- <sit-property sit-widget="sit-datepicker" sit-value="vm.StartStuffing" sit-format="'yyyy-MM-dd'"
                    sit-read-only="false">{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_13'|translate}}</sit-property>
                <sit-property sit-widget="sit-datepicker" sit-value="vm.EndStuffing" sit-format="'yyyy-MM-dd'"
                    sit-read-only="false">{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_12'|translate}}</sit-property> -->
                <!-- <sit-property sit-widget="sit-select" sit-value="vm.typeSort.value" sit-validation="{required: false}"
                              sit-options="vm.typeSort.options" sit-to-display="'RuleName'" sit-to-keep="'RuleCode'"
                              style="max-width:100px;" sit-change="vm.sortChange">{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_14'|translate}}</sit-property> -->
                <sit-property sit-widget="sit-select" sit-value="vm.typeWOType.value" sit-validation="{required: false}"
                              sit-options="vm.typeWOType.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                              style="max-width:100px;">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_15'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-select" sit-value="vm.typeWO.value" sit-validation="{required: false}"
                              sit-options="vm.typeWO.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                              style="max-width:100px;">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_16'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-select" sit-value="vm.typePO.value" sit-validation="{required: false}"
                              sit-options="vm.typePO.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                              style="max-width:100px;">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_17'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-datepicker" sit-value="vm.CreateTime" sit-format="'yyyy-MM-dd'"
                              sit-read-only="false">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_18'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-datepicker" sit-value="vm.EndCreateTime" sit-format="'yyyy-MM-dd'"
                              sit-read-only="false">
                    {{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_12'|translate}}
                </sit-property>

                <sit-property sit-widget="sit-select" sit-value="vm.typeOrderClosed.value"
                              sit-validation="{required: false}" sit-options="vm.typeOrderClosed.options"
                              sit-to-display="'ItemName'" sit-to-keep="'ItemValue'" style="max-width:100px;">
                    订单关闭
                </sit-property>

                <sit-command-bar sit-type="action">

                    <sit-command sit-icon="fa-search" sit-type="main" sit-name="com.siemens.customcommand.search"
                                 :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_19'|translate}}"
                                 ng-click="vm.searchButtonHandler"
                                 :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_19'|translate}}">
                    </sit-command>

                </sit-command-bar>

            </sit-property-grid>
        </div>
    </div>
    <!--右侧功能按钮-->
    <sit-command-bar sit-vertical-autofixed="true" sit-type="Tool" :sit-label-align="right" sit-layout="vertical">

        <!-- <sit-command sit-icon="fa-percent " sit-name="com.siemens.customcommand.edit" :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_20'|translate}}" ng-click="vm.addMeasure"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_20'|translate}}"   sit-type="main"></sit-command>
        <sit-command sit-icon="fa fa-sort-amount-asc" sit-name="com.siemens.customcommand.add" ng-click="vm.addSort" :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_21'|translate}}"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_21'|translate}}"   sit-type="main"></sit-command> -->

        <sit-command sit-icon="fa-check-circle" sit-name="com.siemens.customcommand.case"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_33'|translate}}" ng-click="vm.finishCase"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_33'|translate}}"
                     ng-show="vm.isWorkOrderFinishCase">
        </sit-command>

        <sit-command sit-icon="fa-download" sit-name="com.siemens.customcommand.download"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_22'|translate}}"
                     ng-click="vm.downloadWorkOrder"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_22'|translate}}" ng-show="vm.isWorkOrderDel">
        </sit-command>

        <sit-command sit-icon="fa-pencil" sit-name="com.siemens.customcommand.Get"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_23'|translate}}"
                     ng-click="vm.GetButtonHandler"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_23'|translate}}" ng-show="vm.isWorkOrderDel">
        </sit-command>

        <sit-command sit-icon="fa-trash" sit-name="com.siemens.customcommand.delete"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_24'|translate}}"
                     ng-click="vm.deleteButtonHandler"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_24'|translate}}" ng-show="vm.isWorkOrderDel">
        </sit-command>

        <sit-command sit-icon="fa-code-fork" sit-name="com.siemens.customcommand.edit"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_25'|translate}}" ng-click="vm.editProcess"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_25'|translate}}"
                     ng-show="vm.isWorkOrderEditProcess"></sit-command>

        <sit-command sit-icon="fa fa-th-list" sit-name="com.siemens.customcommand.edit"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_26'|translate}}" ng-click="vm.VCeditBom"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_26'|translate}}"
                     ng-show="vm.isWorkOrderEditBom"></sit-command>

        <sit-command sit-icon="fa-th-large" sit-name="com.siemens.customcommand.edit"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_27'|translate}}" ng-click="vm.editBom"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_27'|translate}}"
                     ng-show="vm.isWorkOrderEditBom"></sit-command>

        <sit-command sit-icon="fa-shopping-cart" sit-name="com.siemens.customcommand.edit"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_28'|translate}}" ng-click="vm.editDemand"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_28'|translate}}"
                     ng-show="vm.isWorkOrderDemand"></sit-command>

        <sit-command sit-icon="fa-pencil-square-o" sit-name="com.siemens.customcommand.edit"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_29'|translate}}" ng-click="vm.editQuality"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_29'|translate}}"
                     ng-show="vm.isWorkOrderEditQuality"></sit-command>

        <sit-command sit-icon="fa-pencil" sit-name="com.siemens.customcommand.edit"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_30'|translate}}" ng-click="vm.editPlan"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_30'|translate}}"
                     ng-show="vm.isWorkOrderEditPlan"></sit-command>

        <sit-command sit-icon="fa-plus-square-o" sit-name="com.siemens.customcommand.add" ng-click="vm.addPick"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_31'|translate}}"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_31'|translate}}" sit-type="main"
                     ng-show="vm.isWorkOrderAddPick"></sit-command>

        <sit-command sit-icon="fa-plus-square" sit-name="com.siemens.customcommand.add" ng-click="vm.addSupplementary"
                     :sit-tooltip="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_32'|translate}}"
                     :sit-label="{{'Siemens.SimaticIT.PlanApp.WorkOrderManage.Tips_32'|translate}}" sit-type="main"
                     ng-show="vm.isWorkOrderAddSupple"></sit-command>

    </sit-command-bar>
</div>
<div id="listClass" style="width:100%; height: 45%; padding:0px 16px 0 16px; margin-top: 30px;">
    <div ui-grid="vm.gridOptions" ui-grid-pinning ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection
         ui-grid-pagination class="uigrid"></div>
</div>

<div id="listClass2" class="col-md-40" style="width:100%; height: 35%; padding:0px 16px 0 16px; margin-top: 3px;">
    <div ui-grid="vm.gridOptionsDetail" ui-grid-pinning ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection
         ui-grid-pagination class="uigrid"></div>
</div>