<style>
    .row {
        padding: 5px;
        margin-top: 10px;
    }

    .ui-grid-cell {
        overflow: inherit;
    }

    .multi-advanced-selection .dropdown,
    .multi-advanced-selection .dropup {
        min-width: 50px !important;
    }

    .canvas .property-area-container > div.content .side-panel-property-area-body {
        overflow-y: visible;
    }
</style>

<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.QualityApp.QC_PollingDetail.QC_PollingDetaileditresult.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.QualityApp.QC_PollingDetail.QC_PollingDetaileditresult.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit" sit-columns="4">
        <sit-property sit-widget="sit-select" sit-read-only="false"
                      sit-options="vm.DeterminationConfig.options" sit-to-keep="'ItemValue'" sit-validation="{required: true}"
                      sit-value="vm.DeterminationConfig.selectedOption" sit-to-display="'ItemName'">
            {{'Siemens.SimaticIT.QualityApp.QC_PollingDetail.QC_PollingDetaileditresult.Tips_3'|translate}}
        </sit-property>
    </sit-property-grid>
</div>
<div id="itemlist"
     style="width:calc(100% - 2px); height: 80%;margin-top: 6px; padding:0px 2px 0px 0px;clear: both; display: block;overflow-y: auto;">
    <div ui-grid="vm.gridOptionsItem" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize
         class="uigrid uigrid-edit gridItem"></div>
</div>