<!--
    0.代码生成: UA主子表一键生成前后端html、JS、API接口代码生成器 Ver 1.11 更新日期：2021-07-14  设计者：刘万军
    1.功能描述: 磨粉料工单报工记录
    2.创建人员: admin
    3.创建日期: 2021-08-26
    4.修改人员:
    5.修改日期:
-->
<style>
    .row {
        padding: 5px;
        margin-top: 10px;
    }
</style>
<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()"
            class="btn side-panel-button">
        {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_1'|translate}}
    </button>
    <button ng-click="vm.save()" class="btn side-panel-button"
            ng-show="vm.validInputs">
        {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_2'|translate}}
    </button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form" sit-layout="Vertical" sit-type="Fluid" sit-mode="edit" sit-columns="1">
        <sit-property-grid sit-id="view_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit" sit-columns="2"
                           style="margin-left: 4px;">

            <sit-property sit-widget="sit-select" sit-value="vm.typeFactory.value" sit-validation="{required: true}"
                          sit-options="vm.typeFactory.options" sit-to-display="'ResourceName'" sit-to-keep="'ResourceCode'"
                          sit-read-only="false" sit-change="vm.typeFactoryChange">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_3'|translate}}
            </sit-property>

            <sit-property sit-widget="sit-select" sit-value="vm.Process.value" sit-validation="{required: true}"
                          sit-options="vm.Process.options" sit-to-display="'ResourceName'" sit-to-keep="'ResourceCode'"
                          sit-read-only="false">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_4'|translate}}
            </sit-property>

            <sit-property sit-widget="sit-alp-text-picker" sit-value="vm.currentItem.MaterialCode"
                          sit-validation="{required: true}" ng-click="vm.materialClick()" sit-read-only="true">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_5'|translate}}
            </sit-property>

            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.MaterialName"
                          sit-validation="{required: true}" sit-read-only="true">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_6'|translate}}
            </sit-property>

            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.ProcessRouteName"
                          sit-validation="{required: true}" sit-read-only="true">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_7'|translate}}
            </sit-property>

            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.SmallClassName"
                          sit-validation="{required: true}" sit-read-only="true">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_8'|translate}}
            </sit-property>

            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.Spec" sit-validation="{required: true}"
                          sit-read-only="true">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_9'|translate}}
            </sit-property>

            <sit-property sit-widget="sit-select" sit-value="vm.typeBom.value" sit-validation="{required: true}"
                          sit-options="vm.typeBom.options" sit-to-display="'BOMCode'" sit-to-keep="'Id'" sit-read-only="false">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_12'|translate}}
            </sit-property>

            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.UnitName" sit-validation="{required: true}"
                          sit-read-only="true">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_13'|translate}}
            </sit-property>

            <!-- <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.PlanQty"
                          sit-validation="{required: true, min: 0}" sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_10'|translate}}</sit-property> -->
            <sit-property sit-widget="sit-textarea" sit-value="vm.currentItem.Remark" sit-validation="{required: false}"
                          sit-read-only="false" style="min-height:500px;height:500px;">
                {{'Siemens.SimaticIT.ProductionApp.AbrasiveOrder.Add.Tips_11'|translate}}
            </sit-property>
        </sit-property-grid>
    </sit-property-grid>
</div>