<!--
    0.代码生成: UA主子表一键生成前后端html、JS、API接口代码生成器 Ver 1.11 更新日期：2021-07-14  设计者：刘万军
    1.功能描述: 包装记录表
    2.创建人员: liyongguo
    3.创建日期: 2021-08-21
    4.修改人员:
    5.修改日期:
-->
<style>
    .MainCommandActionButton {
        margin-top: 20px !important;
    }

    /* .multi-advanced-selection .dropdown button,
    .multi-advanced-selection .dropup button {
        max-width: 120px;
    } */
</style>
<div id="itemlist" class="content-area content-area-relative" style="height: calc(86% - 10px) !important">
    <!--查询条件与功能按钮-->
    <div class="col-md-40" style="margin-left: 15px;height: calc(16% - 10px) !important">
        <div class="side-panel-property-area-body">
            <sit-property-grid sit-id="add_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit"
                               sit-columns="8">
                <sit-property sit-widget="sit-select" sit-value="vm.typeFactory.value"
                              sit-options="vm.typeFactory.options" sit-to-display="'ResourceName'" sit-to-keep="'ResourceCode'"
                              sit-read-only="false">
                    {{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_1'|translate}}
                </sit-property>
                <sit-property sit-widget="sit-select" sit-value="vm.SmallClass.value" sit-validation="{required: false}"
                              sit-options="vm.SmallClass.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                              sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_2'|translate}}</sit-property>
                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.BOMCode" sit-read-only="false"
                              style="max-width:300px;">{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_3'|translate}}</sit-property>
                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.MaterialCode" sit-read-only="false"
                              style="max-width:300px;">{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_4'|translate}}</sit-property>
                <sit-property sit-widget="sit-text" sit-value="vm.searchParams.MaterialName" sit-read-only="false"
                              style="max-width:300px;">{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_5'|translate}}</sit-property>
                <sit-property sit-widget="sit-date-time-picker" sit-value="vm.StartTime" sit-format="'yyyy-MM-dd HH:mm'"
                              sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_6'|translate}}</sit-property>
                <sit-property sit-widget="sit-date-time-picker" sit-value="vm.EndTime" sit-format="'yyyy-MM-dd HH:mm'"
                              sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_7'|translate}}</sit-property>
                <sit-command-bar sit-type="action">
                    <sit-command sit-icon="fa-search" sit-type="main" sit-name="com.siemens.customcommand.search"
                                 :sit-tooltip="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_8'|translate}}" ng-click="vm.searchButtonHandler" :sit-label="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_8'|translate}}">
                    </sit-command>
                </sit-command-bar>
            </sit-property-grid>
        </div>
    </div>
    <!--右侧功能按钮-->
    <sit-command-bar sit-vertical-autofixed="true" sit-type="Tool" :sit-label-align="right" sit-layout="vertical">
        <!--<sit-command sit-icon="fa-trash" sit-name="com.siemens.customcommand.delete" :sit-tooltip="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_9'|translate}}" ng-click="vm.deleteButtonHandler"
                    :sit-label="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_9'|translate}}" ng-show="vm.isButtonVisible"></sit-command>-->
        <sit-command sit-icon="fa-chain-broken" sit-name="com.siemens.customcommand.edit" :sit-tooltip="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_10'|translate}}"
                     ng-click="vm.editButtonHandler" :sit-label="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_10'|translate}}" ng-show="vm.isButtonVisible"></sit-command>
        <!--<sit-command sit-icon="fa-plus" sit-name="com.siemens.customcommand.add" ng-click="vm.addButtonHandler" :sit-tooltip="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_11'|translate}}"
                     :sit-label="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_11'|translate}}" sit-type="main"></sit-command>-->
    </sit-command-bar>
    <!-- grid列表 -->
    <div id="listClass" style="width:100%; height: 50%; padding:0px 16px 0 16px; margin-top: 3px;">
        <div ui-grid="vm.gridOptions" ui-grid-pinning ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection
             ui-grid-pagination class="uigrid"></div>
    </div>

    <div id="listClass2" class="col-md-40" style="width:100%; height: 50%; padding:0px 16px 0 16px; margin-top: 3px;">
        <sit-tabset>
            <sit-tab heading="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_12'|translate}}" style="background-color: #204d74" select="vm.tab1Click()">
                <div ui-grid="vm.gridOptionsDetail" ui-grid-pinning ui-grid-auto-resize ui-grid-selection
                     ui-grid-pagination class="uigrid" style="height:230px"></div>
                <!-- <div ui-grid="vm.gridPersonOptions" ui-grid-pinning ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection ui-grid-pagination class="uigrid" style="height:99%"></div> -->
            </sit-tab>
            <sit-tab heading="{{'Siemens.SimaticIT.ProductionApp.FormulaBG.Tips_13'|translate}}" style="background-color: #204d74" select="vm.tab2Click()">
                <div ui-grid="vm.gridOptionsDetail2" ui-grid-pinning ui-grid-auto-resize ui-grid-selection
                     ui-grid-pagination class="uigrid" style="height:230px"></div>
                <!-- <div ui-grid="vm.gridOptionsDetail" ui-grid-pinning ui-grid-auto-resize ui-grid-selection ui-grid-pagination class="uigrid" style="height:99%"></div> -->
            </sit-tab>

        </sit-tabset>
    </div>
</div>