
<DSL Version="1.13">
    <Project>
        <Name>BasicDataManageFBLib.MSModel</Name>
        <Version>01.00.00</Version>
        <Prefix>Siemens.SimaticIT</Prefix>
        <Domain>MasterData</Domain>
        <DomainAcronym>MS</DomainAcronym>
        <Guid>f61397bf-4db1-4767-accf-c29a4bf0ddd7</Guid>
		<ProjectKind>Library</ProjectKind>
    </Project>
    <References>
		<Project>
			<Name>EQU_OP.OPModel</Name>
			<Version>06.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>f6d3497a-ae95-4434-bb5c-2ba60582394f</Guid>
		</Project>
		<Project>
			<Name>ThirdPartyDBFBLib.UMModel</Name>
			<Version>01.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>UAMES</Domain>
			<DomainAcronym>UM</DomainAcronym>
			<Guid>9db5c733-1718-4f5b-ac79-b4c34474db0f</Guid>
		</Project>
		<Project>
			<Name>EQU_MS.MSModel</Name>
			<Version>06.01.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>ac738ed8-106a-493a-b34b-74ca1d725a2e</Guid>
		</Project>
		<Project>
			<Name>UDM_RF.RFModel</Name>
			<Version>05.01.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>ReferenceData</Domain>
			<DomainAcronym>RF</DomainAcronym>
			<Guid>b269393d-8ab1-41c1-9337-181487273e8f</Guid>
		</Project>
    </References>
</DSL>