<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.MaterialApp.MaterialMain.FactoryMaterialaddDetail.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.MaterialApp.MaterialMain.FactoryMaterialaddDetail.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form" sit-layout="Vertical" sit-type="Fluid" sit-mode="edit" sit-columns="1">
        <!-- TODO: Put here the properties of the entity managed by the service -->
        <sit-property sit-widget="sit-select" sit-value="vm.typeAttr.value" sit-options="vm.typeAttr.options"
                      sit-to-display="'AttrName'" sit-to-keep="'AttrCode'" sit-change="vm.AttrChange"
                      sit-validation="{required: false}">{{'Siemens.SimaticIT.MaterialApp.MaterialMain.FactoryMaterialaddDetail.Tips_3'|translate}}</sit-property>
        <sit-property sit-widget="sit-select" sit-value="vm.typeDataType.value" sit-validation="{required: true}"
                      sit-options="vm.typeDataType.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                      sit-read-only="true">{{'Siemens.SimaticIT.MaterialApp.MaterialMain.FactoryMaterialaddDetail.Tips_4'|translate}}</sit-property>
        <sit-property ng-if="vm.currentItem.AttrType=='1'" sit-widget="sit-numeric" sit-value="vm.currentItem.AttrValue"
                      sit-validation="{required: true}" sit-read-only="false">{{'Siemens.SimaticIT.MaterialApp.MaterialMain.FactoryMaterialaddDetail.Tips_5'|translate}}</sit-property>
        <sit-property ng-if="vm.currentItem.AttrType=='2'" sit-widget="sit-text" sit-value="vm.currentItem.AttrValue"
                      sit-validation="{required: true}" sit-read-only="false">{{'Siemens.SimaticIT.MaterialApp.MaterialMain.FactoryMaterialaddDetail.Tips_5'|translate}}</sit-property>

        <sit-property ng-if="vm.currentItem.AttrType=='3'" sit-widget="sit-date-time-picker"
                      sit-value="vm.currentItem.AttrValue" sit-validation="{required: true}"
                      sit-widget-attributes="{'sit-format':'yyyy-MM-dd HH:mm:ss','sit-show-meridian':'false'}"
                      sit-read-only="false">{{'Siemens.SimaticIT.MaterialApp.MaterialMain.FactoryMaterialaddDetail.Tips_5'|translate}}</sit-property>
    </sit-property-grid>
</div>