<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form"
                       sit-layout="Vertical"
                       sit-type="Fluid"
                       sit-mode="edit"
                       sit-columns="1">
        <sit-property-grid sit-id="view_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit" sit-columns="2" style="margin-left: 4px;">

            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.MaterialCode" sit-validation="{required: true}"
                          sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_3'|translate}}</sit-property>
            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.DesignColour" sit-validation="{required: true}"
                          sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_4'|translate}}</sit-property>
            <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.MeterNum" sit-validation="{required: true, min: 0}"
                          sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_5'|translate}}</sit-property>
            <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.ReelNum" sit-validation="{required: true, min: 0}"
                          sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_6'|translate}}</sit-property>
            <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.PalletNum" sit-validation="{required: true, min: 0}"
                          sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_7'|translate}}</sit-property>
            <sit-property sit-widget="sit-select" sit-value="vm.ProcessRoute.value" sit-validation="{required: false}" sit-options="vm.ProcessRoute.options"
                          sit-to-display="'ProcessName'" sit-to-keep="'ProcessCode'">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_8'|translate}}</sit-property>
            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.BatchNo" sit-validation="{required: true}"
                          sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_9'|translate}}</sit-property>
            <!-- <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.ActMeterNum" sit-validation="{required: true, min: 0}"
                          sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_10'|translate}}</sit-property>
            <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.ActReelNum" sit-validation="{required: true, min: 0}"
                          sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_11'|translate}}</sit-property>
            <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.ActPalletNum" sit-validation="{required: true, min: 0}"
                          sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PrinterOrder.addDetail.Tips_12'|translate}}</sit-property> -->
        </sit-property-grid>
    </sit-property-grid>
</div>