
<style>
    .row {
        padding: 5px;
        margin-top: 10px;
    }
</style>
<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.QualityApp.IPQCManage.TestMaintenanceaddDetail.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.QualityApp.IPQCManage.TestMaintenanceaddDetail.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form"
                       sit-layout="Vertical"
                       sit-type="Fluid"
                       sit-mode="edit"
                       sit-columns="1">
        <sit-property-grid sit-id="view_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit" sit-columns="1" style="margin-left: 4px;">

            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.TestItemCoading" sit-validation="{required: true}"
                          sit-read-only="false">{{'Siemens.SimaticIT.QualityApp.IPQCManage.TestMaintenanceaddDetail.Tips_3'|translate}}</sit-property>
            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.TestItemName" sit-validation="{required: true}"
                          sit-read-only="false">{{'Siemens.SimaticIT.QualityApp.IPQCManage.TestMaintenanceaddDetail.Tips_4'|translate}}</sit-property>
            <sit-property sit-widget="sit-text" sit-value="vm.currentItem.TestItemStandard" sit-validation="{required: true}"
                          sit-read-only="false">{{'Siemens.SimaticIT.QualityApp.IPQCManage.TestMaintenanceaddDetail.Tips_5'|translate}}</sit-property>
            <sit-property sit-widget="sit-select" sit-value="vm.typeDepartment.value" sit-validation="{required: true}" sit-to-keep="'ItemValue'"
                          sit-options="vm.typeDepartment.options" sit-to-display="'ItemName'"
                          sit-read-only="false">{{'Siemens.SimaticIT.QualityApp.IPQCManage.TestMaintenanceaddDetail.Tips_6'|translate}}</sit-property>
            <sit-property sit-widget="sit-select" sit-value="vm.typeData.value" sit-validation="{required: true}"
                          sit-to-keep="'ItemValue'" sit-options="vm.typeData.options" sit-to-display="'ItemName'"
                          sit-read-only="false">{{'Siemens.SimaticIT.QualityApp.IPQCManage.TestMaintenanceaddDetail.Tips_7'|translate}}</sit-property>
            <sit-property sit-widget="sit-select" sit-read-only="false" sit-options="vm.typeEnabled.options"
                          sit-validation="{required: true}" sit-to-keep="'ItemValue'"
                          sit-value="vm.typeEnabled.value" sit-to-display="'ItemName'">{{'Siemens.SimaticIT.QualityApp.IPQCManage.TestMaintenanceaddDetail.Tips_8'|translate}}</sit-property>
        </sit-property-grid>
    </sit-property-grid>
</div>
