<style>
    .row {
        padding: 5px;
        margin-top: 10px;
    }
</style>
<div class="command-bar-side-panel">
    <button ng-click="vm.cancel()" class="btn side-panel-button">{{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_1'|translate}}</button>
    <button ng-click="vm.save()" class="btn side-panel-button" ng-show="vm.validInputs">{{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_2'|translate}}</button>
</div>
<div class="side-panel-property-area-body">
    <sit-property-grid sit-id="add_form" sit-layout="Horizontal" sit-type="Fixed" sit-mode="edit" sit-columns="2">
        <sit-property sit-widget="sit-select" sit-value="vm.typeFactory.value" sit-validation="{required: true}"
                      sit-options="vm.typeFactory.options" sit-to-display="'ResourceName'" sit-to-keep="'ResourceCode'"
                      sit-read-only="false" sit-change="vm.typeFactoryChange">{{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_3'|translate}}</sit-property>
        <sit-property sit-widget="sit-select" sit-value="vm.typeProcess.value" sit-validation="{required: true}"
                      sit-options="vm.typeProcess.options" sit-to-display="'ResourceName'" sit-to-keep="'ResourceCode'"
                      sit-read-only="false" sit-change="vm.typeProcessChange">{{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_4'|translate}}</sit-property>
        <sit-property sit-widget="sit-select" sit-value="vm.typePost.value" sit-validation="{required: false}"
                      sit-options="vm.typePost.options" sit-to-display="'Col2'" sit-to-keep="'Col1'" sit-read-only="false">
            {{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_5'|translate}}
        </sit-property>
        <sit-property sit-widget="sit-alp-text-picker" sit-value="vm.currentItem.Spec" sit-validation="{required: true}"
                      ng-click="vm.specClick()" sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_6'|translate}}</sit-property>
        <sit-property sit-widget="sit-select" sit-value="vm.typeUnit.value" sit-validation="{required: false}"
                      sit-options="vm.typeUnit.options" sit-to-display="'ItemName'" sit-to-keep="'ItemValue'"
                      sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_7'|translate}}</sit-property>
        <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.PeopleQty"
                      sit-validation="{required: true,min:0}" sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_8'|translate}}</sit-property>
        <sit-property sit-widget="sit-numeric" sit-value="vm.currentItem.Price" sit-validation="{required: true,min:0}"
                      sit-read-only="false">{{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_9'|translate}}</sit-property>
        <sit-property sit-widget="sit-checkbox" sit-value="vm.IsDefault" sit-validation="{required: false}"
                      ng-show="true">{{'Siemens.SimaticIT.ProductionApp.PMProductPrice.addDetail.Tips_10'|translate}}</sit-property>
    </sit-property-grid>
</div>