
<DSL Version="1.13">
    <Project>
        <Name>ProductionApp.PLPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>Siemens.SimaticIT</Prefix>
        <Domain>ProductionApp</Domain>
        <DomainAcronym>PL</DomainAcronym>
        <Guid>ab5e6ffb-dd43-4236-a303-017ff1ba11de</Guid>
		<ProjectKind>Pom</ProjectKind>
    </Project>
    <References>
    </References>
</DSL>